html.sr .load-hidden {
    visibility: hidden;
  }

html {
    background-color: rgb(242, 242, 242);
  }

.section-padding {
    padding: 5rem 2rem !important;
}

/* .section-padding-1 {
    padding: 5rem 2rem 5rem 2rem !important;
} */

.image-border {
    box-shadow:0 4px 8px 0 rgba(146, 145, 145, 0.2), 0 6px 20px 0 rgba(105, 105, 105, 0.19);
  }

.image-container {
position: relative;
transition: 0.3s ease;
} 

.image-container:hover {
opacity: 0.70;
}

.titles {
    font-size: 300%;
    font-weight: 500;
    text-align: center;
}

.button {
    background-color:gray;
    color:black;
}

.fa-github-square {
    color: black;
}
   
.fa-linkedin {
     color: #0F4FB5;  
}

/* footer {
    background-color: gray;
} */